<%- include("header") -%>

<section class="home">
    <% for(i = 0; i < abbrsList.length ; i++) {%>
    <div class="content_box">
        <h2 class="content_box__title"><%= abbrsList[i].abbreviation %> (<%= abbrsList[i].stands_for %>)</h2>
        <p class="content_box__text">
            <%= abbrsList[i].description %>
        </p>
    </div>
    <% } %>
</section>

<%- include("footer") -%>