<%- include("header") -%>

<section class="home">
    <% if( query != "" ) { %>
    <% if( searchList.length === 0 ) { %>
    <h2>No results found</h2>
    <% } else { %>
    <% for(i = 0; i < searchList.length ; i++) {%>
    <div class="content_box">

        <div class="content_box__box">
            <h2 class="content_box__title"><%= searchList[i].abbreviation %> (<%= searchList[i].stands_for %>)</h2>
            <p class="content_box__text">
                <%= searchList[i].description %>
            </p>
        </div>

        <div class="content_box__action">
            <% const abbr = searchList[i] %>
            <a href="/edit?a=<%=abbr.abbreviation%>&s=<%=abbr.stands_for%>&d=<%=abbr.description%>&id=<%=abbr._id%> "
                class=" btn__action btn__action--update">
                <svg class="content_box__action--inactive">
                    <use xlink:href="images/sprite.svg#icon-pencil"></use>
                </svg>
            </a>

            <% const active = searchList[i].favorite ? "content_box__action--active" :  "content_box__action--inactive"; %>

            <a href="/add/<%= searchList[i]._id %>" class="btn__action btn__action--fav">
                <svg class="<%= active %>">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                </svg>
            </a>
            <a href="/delete/<%= searchList[i]._id %>" class="btn__action btn__action--delete">
                <svg class="content_box__action--inactive">
                    <use xlink:href="images/sprite.svg#icon-bin"></use>
                </svg>
            </a>

        </div>
    </div>
    <% } %>
    <% } %>
    <% } %>


</section>
<%- include("footer") -%>